/build_Telefonica_reports.xml
/CASTRestAPISampleCode.log
/dist/
/dist_nuget/
/bin/
/com.castsoftware.uc.restapi.excelreport.1.4.6.nupkg
/Export Data_DEV_Metrics_KPIReport_201903121225.xlsx
/Export Data_DEV_Metrics_FullReport_201904021348.xlsx
/Export Data_DEV_Metrics_FullReport_201904021358.xlsx
/Export Data_DEV_Metrics_FullReport_201908211652.xlsx
/Export Data_DEV_Metrics_FullReport_201908211702.xlsx
/Export Data_DEV_Metrics_KPIReport_201904261110.xlsx
/Export Data_DEV_Metrics_KPIReport_201904261112.xlsx
/Export Data_DEV_Metrics_KPIReport_201905171434.xlsx
/Export Data_DEV_Metrics_KPIReport_201906131319.xlsx
/Export Data_DEV_QR_FullReport_201904021442.xlsx
/Export Data_DEV_QR_FullReport_201904041719.xlsx
/Export Data_DEV_QR_FullReport_201904041721.xlsx
/Export Data_DEV_QR_FullReport_201904261200.xlsx
/Export Data_DEV_QR_FullReport_201905201035.xlsx
/Export Data_DEV_QR_SimpleReport_201907041351.xlsx
/Export Data_MIG_Metrics_KPIReport_201908211223.xlsx
/Export Data_MIG_Metrics_KPIReport_201908211648.xlsx
/Export Data_MIG_Metrics_KPIReport_201908211702.xlsx
/Export Data_MIG_Metrics_KPIReport_201908211703.xlsx
/Export Data_MIG_Metrics_KPIReport_201908211710.xlsx
/Export Data_DEV_QR_SimpleReport_201909091221.xlsx
/Export Data_DEV_QR_SimpleReport_201909091222.xlsx
/Export Data_DEV_QR_SimpleReport_201909091223.xlsx
